html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body{
  font-family: 'Open Sans', sans-serif;
}

h1, h3 {
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #00a79d;
}

h1 span {
  color: #6d6e71;
}

.header-container {
  background-color: #e5f3f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 40px;
  padding-top: 20px;
  width: 100%;
}

.input-container {
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 60vw;
}

.title, .body, .save-button {
  width: 100%;
  margin-bottom: 10px;
  padding-left: 8px;
}

.title, .body {
  font-size: 20px;
  border: 2px solid lightgrey;
}

.save-button {
  background-color: #00a79d;
  color: #ffffff;
  border: none;
  height: 30px;
  font-size: 18px;
  margin-bottom: 30px;
  text-align: center;
}

.save-button:hover {
  background-color: #045e55;
  cursor: pointer;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}

.search {
  font-size: 20px;
  border: 2px solid lightgrey;
  margin-bottom: 25px;
  padding-left: 8px;
  width: 60vw;

}


@-ms-viewport{
 width: device-width;
}
